{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>{% if editMode %}
Super page de modification
{% else %}
Super page de création

{%  endif %}</h1>
{{ form_start(formArticle) }}

{{ form_row(formArticle.title,{'attr':{'placeholder':"titre de l'article"}}) }}
{{ form_row(formArticle.category) }}
{{ form_row(formArticle.content,{'attr':{'placeholder':"Contenu de l'article"}}) }}
{{ form_row(formArticle.image,{'attr':{'placeholder':"URL de l'image"}}) }}
<button type="submit" class="btn btn-success">
{% if editMode %}
Enregistrer
{% else %}
Ajouter un article
{% endif %}
</button>
{{ form_end(formArticle) }}
{% endblock %}
