{% extends 'base.html.twig' %}
{% block body %}
<article>
	<h2>
		{{ article.title }}
	</h2>
	<div class="metadata">
		Ecrit le
		{{ article.createdAt | date('d/m/y') }}
		à
		{{ article.createdAt | date('H:i') }}
		dans la catégorie
		{{ article.category.title }}
	</div>
	<img alt="" src="{{ article.image }}">
	{{ article.content | raw }}
	<a href="{{ path('blog-edit',{'id':article.id}) }}" class="btn btn-primary">Modifier l'article</a>
	
</article>
<section id="commentaire">


	<h2>Liste des commentaires:</h2>
	{% for comment in article.comments %}

	<div class="comment">
		<div class="row">
			<div class="col-3">
				{{ comment.author }}
				(<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
			</div>
			<div class="col">
				{{ comment.content | raw }}
			</div>
		</div>
	</div>
	{% endfor %}
	{{ form_start(commentForm) }}
	{{ form_row(commentForm.author,{'attr':{'placeholder':"Votre nom"}})}}
	{{ form_row(commentForm.content, {'attr':{'placeholder':"commentaire"}}) }}
	<button tupe="submit" class="btn btn-success">commenter</button>
	{{ form_end(commentForm) }}
</section>

{% endblock %}